[submodule "cdk-my-api-typescript"]
	path = cdk-my-api-typescript
	url = https://github.com/mikeapted/cdk-ml-inference-typescript.git
[submodule "cdk-my-api-python"]
	path = cdk-my-api-python
	url = https://github.com/mikeapted/cdk-ml-inference-python.git
